
.searchButton {
    font-size: 25px;
    width: 220px;
    left: 10px;
}

.optionbox {
    color: white;
    background-color: black;
    font-size: 25px;
    width: 250px;
}

.glass {
    position: relative;
    top: 7px;
    height: 30px;
    width: 30px;
}

.firstLine
{
    text-shadow: 4px 4px gray;
    position: absolute;
    top: 60px;
    left: 10px;
    color: white;
    font-size: 25px;

}

.daynight  {
    position: absolute;
    top: 80px;
    left: 53px;
    height: 30px;
    width: 30px;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

@-webkit-keyframes example {
    0%   {top: 80px;}
    50% {top: 75px;}
    100%   {top: 80px;}
}


.secondLine
{
    text-shadow: 4px 4px gray;
    position: absolute;
    top: 60px;
    left: 90px;
    color: white;
    font-size: 25px;

}