
<form>
<input type="text" name="inputCity" [(ngModel)]="inputCity" (ngModelChange)="getCity(inputCity)" list="list" class="optionbox"
 placeholder="Enter a city...">
<datalist id="list" class="optionbox">   
     <option *ngFor="let option of options; let i = index" value={{option.structured_formatting.main_text}}> </option>
</datalist>

<img src="/assets/glass.svg" class="glass" (click)="get()"/>
</form>
<br>

<div>
  <p class="firstLine">{{dayNightText}}</p>
  <img *ngIf="showWeatherStats" [src]="daySVG" class="daynight"/>
  <p class="secondLine">{{fullTemperatureText}}</p>
</div>
  
  

  
