
.searchButton {
    font-size: 25px;
    width: 220px;
}

.optionbox {
    color: white;
    background-color: black;
    font-size: 25px;
    width: 250px;
}

.glass {
    position: relative;
    top: 7px;
    height: 30px;
    width: 30px;
}

.fulltext {
    color: white;
}