
<!--<input type=text (keypress)="eventHandler($event.keyCode)">-->

<!--<input type="text" [(ngModel)]="inputCity" (keypress)="getCity(inputCity)">-->

<form>
<input type="text" name="inputCity" [(ngModel)]="inputCity" (ngModelChange)="getCity(inputCity)" list="list" class="optionbox"
 placeholder="Enter a city...">
<datalist id="list" class="optionbox">   
     <option *ngFor="let option of options; let i = index" value={{option.structured_formatting.main_text}}> </option>
</datalist>


<img src="/assets/glass.svg" class="glass" (click)="get()"/>
</form>
<br>

<div style="color: white;">

</div>
<!--<select class="optionbox">
<option *ngFor="let option of options"> {{option.structured_formatting.main_text}} </option></select>-->
<!--Did you mean...?
<br>
<br>

<select [(ngModel)]="selectedValue" class="optionbox">
     <option *ngFor="let option of options; let i = index" value={{i}}>{{option.structured_formatting.main_text}}</option>
</select>-->

<div class="fulltext">
  <h1>{{fullTemperatureText}}</h1>
</div>


